
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">RIME</h1>
  </div>
  
  <div class="container">
    <div class="card-deck todo mb-3 text-center">
      <div class="card  mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Todo List</h4>
        </div> 
        <div class="card-body">
          <div class="table-responsive-sm">
         <table class="table   ">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody id="the-table">
            </tbody>
            </table>
            </div>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Add New Todo</h4>
        </div>
        <div class="card-body">
          <form id="form">
            <div class ="add"  >
            <div class="form-group">
              
              <input type="text" id="description"  class="form-control"  placeholder="Description..">
            </div>
            <div class="form-group">
              <input type="text" id="assigned" class="form-control"   placeholder="Assigned to.. ">
            </div>
            <div class="form-group">
                <input type="text" id="date" class="form-control"   placeholder="Date..yyyy-mm-dd">
              </div>
              <button type="button"  id="btnAdd" class="btn btn-primary mr-1" >Add</button>
              
              <button type="button" id="btnReset" class="btn btn-primary ">Reset</button>
              <p id="demo2"></p>
            </div>
          </form>
          
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Scrap Pad</h4>
        </div>
        <div class="card-body">
          <div class="input-group h-50">
                
            <textarea class="form-control" aria-label="With textarea "></textarea>
          </div>
          <button type="button" class="btn btn-primary mt-4">Save</button>
        </div>
      </div>
    </div>
  </div>
